# Python - Language Features

In [5]:
# Ans 4

print("Python is Easy")

Python is Easy

In [6]:
# Ans 5

print("Python is not Typhoon")

Python is not Typhoon

In [7]:
# Ans 6

print("Abracadabra"*7)

AbracadabraAbracadabraAbracadabraAbracadabraAbracadabraAbracadabraAbracadabra

In [8]:
# Ans 7

print("wh" "ere", "the" "re", "is" ,"a" ,"will," ,"th""ere", "is" ,"a", "way")

where there is a will, there is a way

# Comments

In [10]:
# Ans 1

# This is my first program
print("I am a Python Guru")
# print("Python is not cool")
# print() is used to print the message on console

I am a Python Guru

In [12]:
# Ans 2

print("1")
# print("2")
print("3")
# print("4")
print("5")
#print("6")
print("7")
#print("8")
print("9")
# print("10")
print("11")
# print("12")
print("13")

1
3
5
7
9
11
13

In [14]:
# Ans 3

def add(a, b):
	"""Return sum of given arguments."""
	return a + b
print(add.__doc__)
def power(b, e):
	"""Return the power value.
	
	b -- is the base
	e -- is the exponent
	"""
	return b ** e
print(power.__doc__)

Return sum of given arguments.
Return the power value.

	b -- is the base
	e -- is the exponent

# Identifiers and Keywords

In [15]:
# Ans 3

import keyword
print('and is a keyword :', keyword.iskeyword('and'))

#Fill in the missing code in the below lines
print('exec is a keyword :',keyword.iskeyword('e'))
print('nonlocal is a keyword :', keyword.iskeyword('nonlocal'))
print('False is a keyword :', keyword.iskeyword('False'))

and is a keyword : True
exec is a keyword : False
nonlocal is a keyword : True
False is a keyword : True

# Dynamic typing and Case sensitiveness

# Immutable - String, Tuple

In [2]:
# Ans 1

print(input("str: "))

str:  rq

rq

k:  1

0 even number

# List - Empty, Append

In [ ]:
# Ans 1

i = ord(input('Please enter A in upper case: '))
j = ord(input('Please enter A in lower case: '))

alpha = []
for k in range(26):
	alpha.append(chr(i))
	alpha.append(chr(j))
	i += 1
	j += 1
print(alpha)

In [ ]:
# Ans 2

lis = []
size = int(input("size: "))
for i in range(size):
	lis.append(input('element: '))

print(f"list: {lis}")

In [ ]:
# Ans 3

data1 = list(map(str,input('data1: ').split(",")))
element = input('element: ')
data1.append(element)
print(f'after append: {data1}')


data2 = list(map(str,input('data2: ').split(",")))
data1.append(data2)
print(f'after append: {data1}')
data1.extend(data2)
print(f'after extending: {data1}')

In [ ]:
# Ans 4

L1 = [int(s) for s in input().split(' ')]
L2 = []
temp = L1
for i in range(len(temp)-1,-1,-1):
	L2.append(L1[i])
L1.extend(L2)
print(L2)
print(L1)

In [ ]:
# Ans 5

L1 = [int(s) for s in input().split(' ')]
L2 = []
temp = L1
for i in range(len(temp)-1,-1,-1):
	L2.append(L1[i])
L1.extend(L2)

print(L2)
print(L1)

In [ ]:
# Ans 6

L1 = [int(s) for s in input().split(' ')]
L2 = []
temp = L1
for i in range(len(temp),0,-1):
	L2.append(L1[i-1])
L1.extend(L2)
print(L2)
print(L1)

# Arithmetic & Logical Operators

In [ ]:
# Ans 1

In [ ]:
# Ans 2

num1 = int(input("num1: "))
num2 = int(input("num2: "))

print(f"{num1} + {num2} = {num1+num2}")
print (f"{num1} - {num2} = {num1-num2}")
print (f"{num1} * {num2} = {num1*num2}")
print (f"{num1} / {num2} = {num1/num2}")
print (f"{num1} ** {num2} = {num1**num2}")
print (f"{num1} % {num2} = {num1%num2}")
print (f"{num1} // {num2} = {num1//num2}")

In [ ]:
# Ans 3

num1 = int(input ("num1: "))
num2 = int(input ("num2: "))

print(f"Addition of {num1} and {num2} = {num1 + num2}")
print(f"Subtraction of {num1} and {num2} = {num1 - num2}")
print(f"Multiplication of {num1} and {num2} = {num1 * num2}")
print(f"Division of {num1} and {num2} = {num1 / num2}")

In [ ]:
# Ans 4

num1 = int(input("num1: "))
num2 = int(input("num2: "))

print(f"Exponent of {num1} with {num2} = {num1**num2}")
print(f"Modulus of {num1} and {num2} = {num1%num2}")
print(f"Floor Division of {num1} and {num2} = {num1//num2}")

In [ ]:
# Ans 5

num1 = int(input("num1: "))
num2 = int(input("num2: "))

print(f"Exponent of {num1} with {num2} = {num1**num2}")
print(f"Modulus of {num1} and {num2} = {num1%num2}")
print(f"Floor Division of {num1} and {num2} = {num1//num2}")

In [ ]:
# Ans 6

num1 = int(input("num1: "))
num2 = int(input("num2: "))
x,y = divmod(num1,num2)
print((num1), '//', (num2), '=', (x))
print((num1), '%', (num2), '=', (y))

In [ ]:
# Ans 7

In [ ]:
# Ans 8

a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))
if a == 6 and b ==6 and c != 6:
	print(True)
else:
	print(False)

In [ ]:
# Ans 9

a = int(input("a: "))
b = int(input("b: "))

if a == 6 or b == 6 or (a+b) == 6 or (a-b) ==6:
	print(True)
else:
	print(False)

In [ ]:
# Ans 10

day = input("Enter day: ")
if day == "SAT" or day == "SUN":
	print("Weekend")
else:
	print("Not Weekend")

# Comparison (Relational) & Assignment Operators

In [ ]:
# Ans 1

num1 = int(input("num1: "))
num2 = int(input("num2: "))

print(f"Is {num1} greater than {num2} = {num1>num2}")
print(f"Is {num1} less than {num2} = {num1<num2}")
print(f"Is {num1} equal to {num2} = {num1==num2}")
print(f"Is {num1} not equal to {num2} = {num1!=num2}")
print(f"Is {num1} less than or equal to {num2} = {num1 <=num2}")
print(f"Is {num1} greater than or equal to {num2} = {num1>=num2}")

In [ ]:
# Ans 2 

# Comparision Operators >, <, ==, !=, >=, <= on numbers
num1 = int(input("num1: "))
num2 = int(input("num2: "))
print(f"Is {num1} greater than {num2} = {num1 > num2}")
print(f"Is {num1} less than {num2} = {num1 < num2}")
print(f"Is {num1} equal to {num2} = {num1 == num2}")
print(f"Is {num1} not equal to {num2} = {num1 != num2}")
print(f"Is {num1} greater than or equal to {num2} = {num1 >= num2}")
print(f"Is {num1} less than or equal to {num2} = {num1 <= num2}")

In [ ]:
# Ans 3

str1 = input("str1: ")
str2 = input("str2: ")

print(f"Is {str1} greater than {str2} = {str1 > str2}")
print(f"Is {str1} less than {str2} = {str1 < str2}")
print(f"Is {str1} equal to {str2} = {str1 == str2}")
print(f"Is {str1} not equal to {str2} = {str1 != str2}")
print(f"Is {str1} greater than or equal to {str2} = {str1 >= str2}")
print(f"Is {str1} less than or equal to {str2} = {str1 <= str2}")

In [ ]:
# Ans 4

str1 = input("str1: ")
str2 = input("str2: ")
print(f"Is {str1} greater than {str2} = {str1 > str2}")
print(f"Is {str1} less than {str2} = {str1 < str2}")
print(f"Is {str1} equal to {str2} = {str1 == str2}")
print(f"Is {str1} not equal to {str2} = {str1 != str2}")
print(f"Is {str1} greater than or equal to {str2} = {str1 >= str2}")
print(f"Is {str1} less than or equal to {str2} = {str1 <= str2}")

# Print Is str1 less than str2
# Print Is str1 is equal to str2
# Print Is str1 not equal to str2
# Print Is str1 greater than or equal to str2
# Print Is str1 less than or equal to str2

In [ ]:
# Ans 5

x = int(input("x: "))
y = int(input("y: "))

print(f"x += y: x = {x + y} and y = {y}")
print(f"x -= y: x = {x - y} and y = {y}")
print(f"x *= y: x = {x * y} and y = {y}")
print(f"x /= y: x = {x / y} and y = {y}")
print(f"x **= y: x = {x ** y} and y = {y}")
print(f"x //= y: x = {x // y} and y = {y}")
print(f"x %= y: x = {x % y} and y = {y}")
print(f"x = y: x = {y} and y = {y}")

In [ ]:
# Ans 6

x = int(input("x: "))
y =int(input("y: "))
print(f"x = y: {y}")
print(f"x += y: {x+y}")
print(f"x -= y: {x-y}")
print(f"x *= y: {x*y}")

In [ ]:
# Ans 7

x = int(input("x: "))
y = int(input("y: "))
print('x /= y:' , x/y)
print ('x %= y:' , x%y)
print ('x **= y:' , x**y)
print ('x //= y:' , x//y)

# Membership & Identity Operators

In [ ]:
# Ans 1

In [1]:
# Ans 2

str1 = input("str1: ")
str2 = input("str2: ")
print(f"{str2} in {str1} : {str2 in str1}")

In [ ]:
# Ans 3

str1 = input("str1: ")
str2 = input("str2: ")
print(f"{str2} in {str1} is: {str2 in str1}")
print(f"{str2} not in {str1} is: {str2 not in str1}")

In [ ]:
# Ans 4

# Program to illustrate membership
L1 = ['A', '123', 'Ramana', [1, 2], 34.56, '55']
# for 34.56 returns False as output because input() return type is True so it converts 34.56 as string.
print(L1)
# write your code here
element = input("element: ")
print(f"{element} in {L1} is: {element in L1}")
print(f"{element} not in {L1} is: {element not in L1}")

In [ ]:
# Ans 6

x = int(input("Enter an integer: "))
y = int(input("Enter the same integer: "))
print(f"x is y {x is y}")
print(f"x is not y {x is not y}")



x = float(input("Enter a Float Number: "))
y = float(input("Enter the same Number: "))
print(f"x is y {x is y}")
print(f"x is not y {x is not y}")

In [ ]:
# Ans 7 

x = int(input("x: "))
y = int(input("y: "))
print(f"{x} is {y} {x is y}")

In [ ]:
# Ans 8 

x = int(input("x: "))
y = int(input("y: "))
print(f"{x} is not {y} {x is not y}")

# Boundary Value Analysis

# Iteration Control Structures

# Introduction to Debugging

# Introduction to Collections

# Implicit/Explicit Type conversions

# If statement, If-Else & Nested If-else

# Control Statement - While, For, Nested While, Nested for, Break, Continue

In [ ]:
# Ans 1

sum1 = 0
num = int(input("num: "))
while num > 0:
	if num % 2 == 0:
		sum1 += num
	
	num -= 1
print("sum:",sum1)

In [ ]:
# Ans 2

x = int(input("k: "))
y = 0
while y < x:
	if y % 2 == 0:
		print(y,"even number")
		y += 1
	else:
		print(y,"odd number")
		y += 1

In [1]:
# Ans 3

num = int(input("num: "))
if num >= 0 :
	print(f"sum: {(num*(num+1))//2}")
else:
	print(f"sum: -{(num*(num-1))//2}")

num:  4

sum: 10

In [ ]:
# Ans 4

# make use of while loop


n = int(input())
y = 1

while(y != n+1):
	print(y*2, end = " ")
	y += 1

In [ ]:
# Ans 5

# make use of while loop
n = int(input())
sum1 = 0

while(n != 0):
	sum1 += n
	n -= 1

print(sum1)

In [ ]:
# Ans 6

#Program to illustrate simple for loop
numbers = [1, 10, 20, 30, 40, 50]
sum = 0
#  Find sum of all the numbers using for loop 
for i in numbers:
	sum += i

print ("The sum of numbers is", sum ) # print sum here


colors = ['red', 'orange', 'green', 'yellow', 'white', 'violet']


# Similarly iterate over the given colors and print the colors
for i in colors:
	print(i)

In [ ]:
# Ans 7

n = int(input("Enter a number: "))
ans = 0
for i in range(1,n+1):
	ans += i**2

print("Sum of square =",ans)

In [ ]:
# Ans 8

x = int(input("Lower limit: "))
y = int(input("Upper limit: "))
print("Prime numbers are: ")

def isPrime(i):
	for a in range(2,i):
		if i % a == 0:
			return False
	else:
		return True
	
	
	
for i in range(x,y):
	if isPrime(i):
		print(i)

In [ ]:
# Ans 9

l = int(input("Lower range: "))
u = int(input("Upper range: "))
a = []
for n in range(l,u+1):
	i = 1
	sq = int(n**(0.5))
	if sq*sq == n:
		a.append(n)
	else:
		i += 1


print("Perfect squares are: ")
for i in a:
	print(i,end=" ")

In [ ]:
# Ans 10

n = int(input("n: "))#f# Write your code here
for i in range(1,n+1):
	print("* "*i)

In [ ]:
# Ans 11

In [ ]:
# Ans 12

for num in range(1, 10):
	if num % 5 == 0:
		break
	else:
		print(num)

In [ ]:
# Ans 13

In [ ]:
# Ans 14

In [ ]:
# Ans 15

In [ ]:
# Ans 16

sum1 = 0
for i in range(10):
	
	a = int(input())
	if a >= 0:
		sum1 += a
	else:
		break

print(sum1)

In [ ]:
# Ans 17

for i in range(20):
	if i < 11:
		continue
	else:
		print(f"The number is {i}")
		
print('End of for loop')
print('End of Program')

In [ ]:
# Ans 18

for num in range(1, 20):
	if num <= 10:
		continue
	else:
		print("num:",num)

In [ ]:
# Ans 19

for i in range(int(input())):
	if i%5==0:
		continue
	else:
		print(i,end=' ')

In [ ]:
# Ans 20

for i in range(int(input())+1):
	if i%7==0:
		continue
	else:
		print(i,end=' ')